<%# resume page %>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="app.css" />
        <title>Resume</title>
    </head>
    <img src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/cute-moose-calf-tim-grams.jpg">
    <h1>Also available for download </h1><><a href="" download>here</a>
    <body>