/* SHARED CSSS */
body{
  background-color: black !important;
  color: white !important;
  margin:0;
  padding:0;
}
/* attribution link  <a href='https://pngtree.com/free-backgrounds'>free background photos from pngtree.com</a> */
p{
  text-shadow: 1px 1px 1px black;
  font-size: 18px;
}
/* Navbar and its components */
.navbar{
    display: flex;
    justify-content: space-evenly !important;
    padding: 15px;
    text-align: center;
    background-color:  black;
    margin: 0;
    border-bottom: 1px solid rgb(158, 247, 165); 
}

a{
    text-decoration: none;
    color: white !important;
}

.dropbtn {
    background-color: black;
    color: #ffffff;
    font-size: 16px;
    border: none;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    color: white;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: line-through;
    display: block;
  }
  

.dropdown-content a:hover {
      text-decoration: none;
    }
  
.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropbtn {
      background-color: white;
      color: black;
}

/* -----------------------------------------------------------------------------------------------------------------------------------------------------------  */

/* HOME CSS */
/* Jumbotron */
#home-body{
  background-repeat: no-repeat;
  background-size: 100%;
}

.hero-text{
  text-align: center;
  font-size: 35px;
  padding-top: 65px;
  color: rgb(158, 247, 165);
  text-shadow: 3px 2px 2px black;
  font-family: 'Ubuntu Mono', monospace;
}

.jumbotron {
    background-image: url(bg-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 89vh;
  }

/* .jumbo-container h1{
    color: white;
    text-align: center;

    font-size: 37px;
} */

/* -----------------------------------------------------------------------------------------------------------------------------------------------------------  */

/* RESUME CSS */

.resumeImage{
  padding-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 900px;
  width: auto;
}

.resumeTab{
  text-align: center;
}

/* -----------------------------------------------------------------------------------------------------------------------------------------------------------  */

/* PROJECTS CSS*/
/* Shared */
/* Carousel */
.bb-div{
  contain: strict;
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 500px !important;
  width: 1000px !important;

}
.ff-div{
  contain: strict;
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 500px !important;
  width: 1000px !important;
}
/* Link hover decoration change */
#links:hover{
  display: inline-block;;
  text-decoration: underline;
  padding: 0px;
}

/* Bowerbird Simulator */
.bb-title{
  text-align: center;
  padding: 15px;
  font-family: 'Cabin Sketch', cursive;
  text-shadow: 1px 1px 1px black;
}
.bowerbird-about{
  padding-top: 5px !important;
  margin-left: auto;
  margin-right: auto;
  width: 700px; 
  text-align: center;
}

/* Fauna Favor */
.ff-title{
  text-align: center;
  padding: 15px;
  font-family: 'Cabin Sketch', cursive;
}

.fauna-favor-about{
  padding-top: 10px !important;
  margin-left: auto;
  margin-right: auto;
  width: 700px; 
  text-align: center;
}

/* -----------------------------------------------------------------------------------------------------------------------------------------------------------  */

/* CONTACT CSS */